<!DOCTYPE html>
<html lang="en">

<head>
    {{>headLinks}}
</head>

<body>
    {{>navbar}}
    <!-- Header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class='col-md-10 col-12 mx-auto'>
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="Images/about.JPG" alt='pawan' class="img-fluid" title="pawan">
                        </figure>
                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather app</p>
                        <h1>I am a <span class='text_clr'> FullStack Developer</span>. </h1>
                        <a href="Z.docx" target="_blank"><button>check now</button></a>
                    </div>
                    <!-- left side -->

                    <!-- right side -->
                </div>
            </div>

        </div>

    </div>
    {{>footer}}
</body>

</html>